[Unit]
Description=Sports Data Live Score Poller Timer
Requires=sports-live-poller.service

[Timer]
OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 14:00:00
OnCalendar=*-*-* 16:00:00
OnCalendar=*-*-* 18:00:00
OnCalendar=*-*-* 20:00:00
OnCalendar=*-*-* 22:00:00
OnCalendar=*-*-* 00:00:00
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
