[Unit]
Description=Sports Data Live Score Poller Timer ({{ deployment_env }})

[Timer]
Unit=sports-live-poller-{{ deployment_env }}.service
OnCalendar=*-*-* 10:00:00
OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 14:00:00
OnCalendar=*-*-* 16:00:00
OnCalendar=*-*-* 18:00:00
OnCalendar=*-*-* 20:00:00
OnCalendar=*-*-* 22:00:00
Persistent=true

[Install]
WantedBy=timers.target
